<!DOCTYPE html>
<html>
 <head>
 	<link 
 		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
 	rel="stylesheet"
 	integrity="sha384-
	T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
 	crossorigin="anonymous"
 	/>
  <link rel="stylesheet" href="../resources/css/style.css">
 </head>
<title>Lexxie Rousseau 2027</title>

<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Villanova Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarBasic">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hobbies.html">Hobbies</a>
        </li>
       
      </ul>
    
    </div>
  </div>
</nav>
 	<header class="container-fluid text-white p-5" style="background-color: seagreen;">
 	<header class="container-fluid bg-white text-dark p-5">
 		<h1>CSC 2053
      <p> Lexxie Rousseau
    </h1>

    <p> My name is Lexxie I am a junior math major at Villanova and I love magicians! <p>

    <a href = "https://www1.villanova.edu/university/liberal-arts-sciences/programs/computing-sciences.html">Link to Villanova Computing Sciences Department </a>

    

 <body>
 <div class="container-fluid">

<main class="container mt-4">
<p> This is my Villanova hompage w/ Bootstrap styling.</p>
<img src ="../resources/img/img.jpeg"
 	src="../resources/img/pexels-photo-1805164.jpeg"
 	alt = "pic of me"
 	width = "220px"
 	class="img-fluid rounded border border-3 border-dark">
	
  <script 
 	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
 	integrity="sha384-
	C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
 	crossorigin="anonymous"
  ></script>


   
  </div>

 </body>
</html>